[Unit]
Description=faasd
After=faasd-provider.service

[Service]
MemoryMax=500M
ExecStart=/usr/local/bin/faasd up
Restart=on-failure
RestartSec=10s
WorkingDirectory={{.Cwd}}

# Environment variables (can be overridden in /etc/default/faasd)
EnvironmentFile=-/etc/default/faasd

[Install]
WantedBy=multi-user.target
